@import url(http://fonts.googleapis.com/css?family=Slackey|Open+Sans:400italic,700italic,400,700);
body {
  background-color: #3BA9E4;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/*********************************************************************************/
/* Google Fonts                                                                  */
/*********************************************************************************/
/*********************************************************************************/
/* Font Variables                                                                */
/*********************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Slackey", cursive;
  font-weight: bold;
  font-size: 2.6em;
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
}

/*********************************************************************************/
/* Color Themes - Variables                                                      */
/*********************************************************************************/
/*********************************************************************************/
/* Common Colors - Variables                                                     */
/*********************************************************************************/
/*********************************************************************************/
/* Mixins                                                                        */
/*********************************************************************************/
/*********************************************************************************/
/* Button Global                                                                 */
/*********************************************************************************/
.btn {
  display: inline-block;
  margin: 1rem;
  padding: 0.938em 1.875em;
  border: 0.094em solid;
  border-radius: 0.625em;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-decoration: none;
  font: bold 1.8rem sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/*********************************************************************************/
/* Themes                                                                        */
/*********************************************************************************/
.purple {
  border-color: #8144b8;
  background-color: #9A68C7;
}
.purple:hover {
  background-color: #8b52bf;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #9f6fca;
  text-decoration: none;
}
.purple:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #331b48, inset 0 0.063em #673693, inset 0 -0.188em #673693;
  text-decoration: none;
}

.blue {
  border-color: #1d91cf;
  background-color: #3BA9E4;
}
.blue:hover {
  background-color: #209de0;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #44ade5;
  text-decoration: none;
}
.blue:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0a3349, inset 0 0.063em #1672a3, inset 0 -0.188em #1672a3;
  text-decoration: none;
}

.green {
  border-color: #5d8e35;
  background-color: #75B343;
}
.green:hover {
  background-color: #669d3b;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #7aba46;
  text-decoration: none;
}
.green:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #141f0b, inset 0 0.063em #446927, inset 0 -0.188em #446927;
  text-decoration: none;
}

.orange {
  border-color: #ff420f;
  background-color: #FF6A42;
}
.orange:hover {
  background-color: #ff5223;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #ff724c;
  text-decoration: none;
}
.orange:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #751900, inset 0 0.063em #db2e00, inset 0 -0.188em #db2e00;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
