body {
    background-color: #3BA9E4;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

/*********************************************************************************/
/* Google Fonts                                                                  */
/*********************************************************************************/


@import url(http://fonts.googleapis.com/css?family=Slackey|Open+Sans:400italic,700italic,400,700);


/*********************************************************************************/
/* Font Variables                                                                */
/*********************************************************************************/

$roboto-slab: 'Slackey',
cursive;
$open-sans: 'Open Sans',
sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $roboto-slab;
    font-weight: bold;
    font-size: 2.6em;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;

}

/*********************************************************************************/
/* Color Themes - Variables                                                      */
/*********************************************************************************/


$purple: #9A68C7;
$blue: #3BA9E4;
$green: #75B343;
$orange: #FF6A42;

/*********************************************************************************/
/* Common Colors - Variables                                                     */
/*********************************************************************************/


$off-wht: rgba(white, .4);

/*********************************************************************************/
/* Mixins                                                                        */
/*********************************************************************************/


@mixin btn-theme($btn-color) {
    border-color: darken($btn-color, 10%);
    background-color: $btn-color;

    &:hover {
        background-color: darken($btn-color, 6%);
        box-shadow: 0 .125em $off-wht, inset 0 .063em $off-wht, inset 0 -.188em lighten($btn-color, 2%);
        text-decoration: none;
    }

    &:active {
        box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($btn-color, 40%), inset 0 .063em darken($btn-color, 20%), inset 0 -0.188em darken($btn-color, 20%);
        text-decoration: none;
    }
}

@mixin trans($val...) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    transition: $val;
}

/*********************************************************************************/
/* Button Global                                                                 */
/*********************************************************************************/


.btn {
    display: inline-block;
    margin: 1rem;
    padding: .938em 1.875em;
    border: .094em solid;
    border-radius: .625em;
    box-shadow: 0 .375em .313em -.313em rgba(black, .8), inset 0 .063em $off-wht, inset 0 -.188em rgba(black, .15);
    color: #FFF;
    text-decoration: none;
    font: bold 1.8rem sans-serif;
    @include trans(0.2s ease-in-out);

    text: {
        transform: uppercase;
        decoration: none;
        shadow: 0 .063em rgba(black, .3);
    }

    cursor:pointer;
}

/*********************************************************************************/
/* Themes                                                                        */
/*********************************************************************************/


.purple {
    @include btn-theme($purple);
}

.blue {
    @include btn-theme($blue);
}

.green {
    @include btn-theme($green);
}

.orange {
    @include btn-theme($orange);
}