@import 'mixins';
@import 'variables';



// Outer navigation wrapper
.navigation {
    height: $nav-height;
    background: $nav-background;
}

// Logo and branding
.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;

    a,
    a:visited {
        color: $nav-font-color;
        text-decoration: none;
    }
}

// Container with no padding for navbar
.nav-container {
    max-width: $content-width;
    margin: 0 auto;
}

// Navigation 
nav {
    float: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            position: relative;

            a,
            a:visited {
                display: block;
                padding: 0 20px;
                line-height: $nav-height;
                background: $nav-background;
                color: $nav-font-color;
                text-decoration: none;

                &:hover {
                    background: $link-hover-color;
                    color: $nav-font-color;
                }

                &:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                }
            }

            // Dropdown list
            ul li {
                min-width: 190px;

                a {
                    padding: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: $nav-background;
    height: $nav-height;
    width: $nav-height;
}

@media only screen and (max-width: 798px) {

    // Hamburger nav visible on mobile only
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: $nav-height 0 15px;

        ul {
            display: none;

            li {
                float: none;

                a {
                    padding: 15px;
                    line-height: 20px;
                }

                ul li a {
                    padding-left: 30px;
                }
            }
        }
    }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: $breakpoint) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;

    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: $nav-font-color;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    span:before {
        top: -10px;
    }

    span:after {
        bottom: -10px;
    }

    &.active span {
        background-color: transparent;

        &:before,
        &:after {
            top: 0;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

// Page content 
article {
    max-width: $content-width;
    margin: 0 auto;
    padding: 10px;
}

//SUPER BASIC PAGE STYLING
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    padding: 2em;
    float: left;
    width: 100%;
}


///BASIC TABLE STYLING
table {
    border-collapse: collapse;
    width: 100%;
    float: left;
    margin: 0 0 2em;

    thead {
        border-bottom: 3px solid $primary-color;

        th {
            padding: 0.35em 0 .35em;
            font-weight: 400;
            text-align: left;
            @include heading-font-regular;
            font-size: 1.25em;
        }

    }

    tbody {
        border-bottom: 3px solid $primary-color;

        tr {
            border-bottom: 2px solid #ddd;

            td {
                padding: .75em 0;
                
            }
        }
    }

    tfoot {
        td {
            padding: 0.35em 0 .35em;

            text-align: left;
            @include heading-font-regular;
            font-size: 1.25em;
        }
    }
}

@media screen and (min-width: $large-up) {
    table {
        width: 100%;

        thead {
            border-bottom: 3px solid $primary-color;

            th {}

        }

        tbody {
            tr {
                border-bottom: 1px solid #ddd;

                td {}
            }
        }
    }
}